* {
  font-style: italic;
}

.header {
  width: 100%;
  color: white;
}

.title {
  text-align: center;
  font-size: 70px;
  margin: 50px 0;
}

.validation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lbl {
  margin: 0 5px;
}

.ipt {
  border-radius: 15px;
  text-align: center;
  width: 150px;
  border: none;
}

.fileUpload {
  padding: 10px 0;
}

.btnPosition {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #ffffffe6;
  width: 80px;
}

.btn:hover {
  background-color: #ffffffe6;
  box-shadow: 0 0 10px 3px rgb(222, 222, 222);
}

/* Input file */
.custom-file-input {
  color: transparent;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: 'Selecciona los archivos';
  color: black;
  display: inline-block;
  background: white;
  border-radius: 18px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 500;
  margin: 10px 0 0 67px;
}
/* Fin input file */

.card {
  background-color: rgba(255, 255, 255, 0.612);
  font-size: 25px;
  border-radius: 18px;
  width: 80%;
  margin: auto;
}

table {
  width: 100%;
}

td, th {
  text-align: center;
  padding: 20px;
}

.positionTitles {
  width: 50%;
}

select {
  width: 80%;
  border-radius: 18px;
  border: none;
}

.btnDownload {
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 12%;
}

.btnDownload:hover {
  background-color: #63c5fee6;
  box-shadow: 0 0 10px 8px #63c5fee6;
  border-radius: 18px;
}

.imageBtn {
  width: 60%;
}

@media screen and (max-width: 768px) {
  .card {
    width: 96%;
    margin: 0 10px;
    font-size: 12px;
  }

  .btnDownload {
    width: 20%;
  }
}