<div>
  <!-- Titulo -->
  <div class="header">
    <h1 class="title">Gestor de archivos</h1>
  </div>

  <!-- Formulario -->
  <div class="validation">
    <!-- Archivo seleccionado -->
    <input type="file" class="custom-file-input" #file (change)="upload($event)" style="border-radius: 90px;" />
  </div>  
  
  <div class="btnPosition">
    <button type="button" class="btn">Aceptar</button>
  </div>

  <!-- Card con datos  -->
  <div class="card">
    <table>
      <!-- Titulos -->
      <tr style="justify-content: center">
        <th class="positionTitles">Usuario</th>
        <th class="positionTitles">Archivos</th>
      </tr>
      <!-- Usuario -->
      <tr *ngFor="let data of files">
        <td>{{ data.id }}</td>

        <!-- Archivos -->
        <td>
          <p>
            {{ data.name }}
            <button type="button" class="btnDownload">
              <img
                src="../../assets/images/download.png"
                alt="image download"
                class="imageBtn"
              />
            </button>
          </p>
        </td>
      </tr>
    </table>
  </div>
</div>