<div>
  <!-- Titulo -->
  <div class="header">
    <h1 class="title">Gestor de archivos</h1>
  </div>

  <!-- Formulario -->
  <div class="validation">
    <label class="lbl" for="user">Usuario:</label>
    <input class="ipt" type="text" name="" id="user" maxlength="18" />
    <label class="lbl" for="password">Contraseña:</label>
    <input class="ipt" type="password" name="" id="password" maxlength="18"/>
    <input type="file" class="file-upload" #file (change)="upload($event)">
  </div>
  <div class="btnPosition">
    <button type="button" class="btn">Aceptar</button>
  </div>

  <!-- Card con datos  -->
  <div class="card">
    <table>
      <!-- Titulos -->
      <tr style="justify-content: center;">
        <th class="positionTitles">Usuario</th>
        <th class="positionTitles">Archivos</th>
      </tr>
      <!-- Usuario -->
      <tr *ngFor="let data of files">
        <td> {{ data.name }} </td>

        <!-- Archivos -->
        <td>
          <p>
            {{ data.name }}
            <button type="button" class="btnDownload">
              <img
                src="../../assets/images/download.png"
                alt="image download"
                class="imageBtn"
              />
            </button>
          </p>
        </td>
      </tr>
    </table>
  </div>
</div>
