.header {
  width: 100%;
  color: white;
}

.title {
  text-align: center;
  font-size: 70px;
  font-style: italic;
}

.validation {
  display: flex;
  place-content: center;
}

.lbl {
  margin: 0 5px;
  font-style: italic;
}

.ipt {
  border-radius: 15px;
  text-align: center;
  width: 150px;
  font-style: italic;
  border: none;
}

.btnPosition {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #ffffffe6;
  width: 80px;
  font-style: italic;
}

.btn:hover {
  background-color: #ffffffe6;
  box-shadow: 0 0 10px 3px rgb(222, 222, 222);
}

.card {
  background-color: rgba(255, 255, 255, 0.612);
  font-size: 25px;
  font-style: italic;
  border-radius: 18px;
}

.list {
  padding: 10px 0;
}