* {
  font-style: italic;
}

.logout {
  display: flex;
  justify-content: right;
  margin: 5px 20px;
}

.btnClose {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #ffffffe6;
  width: 80px;
  background: rgb(238, 56, 56);
  font-weight: 600;
}

.btnClose:hover {
  box-shadow: 0 0 10px 3px rgb(223, 53, 53);;
}

.header {
  width: 100%;
  color: white;
}

.title {
  text-align: center;
  font-size: 70px;
  margin: 20px 0 20px;
}

.validation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lbl {
  margin: 0 5px;
}

.ipt {
  border-radius: 15px;
  text-align: center;
  width: 150px;
  border: none;
}

.iptFile {
  background-color: cyan;
  border-radius: 18px;
  width: 20%;
  margin: 0 0 10px 0;
  cursor: pointer;
}

.iptFile:hover {
  background-color: rgb(4, 234, 234);
  box-shadow: 0 0 10px 2px rgb(2, 241, 241);
}

.btnPosition {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.btn {
  cursor: pointer;
  border-radius: 5px;
  border: none;
  background-color: #ffffffe6;
  width: 90px;
}

.btn:hover {
  background-color: #ffffffe6;
  box-shadow: 0 0 10px 3px rgb(222, 222, 222);
}

.card {
  background-color: rgba(255, 255, 255, 0.612);
  font-size: 25px;
  border-radius: 18px;
  width: 80%;
  margin: auto;
}

table {
  width: 100%;
}

td,
th {
  text-align: center;
  padding: 20px;
}

.box {
  border-top: 3px solid rgba(255, 255, 255, 0.500);
  border-bottom: 3px solid rgba(255, 255, 255, 0.500);
  border-radius: 18px;
  border-right: 5px dotted rgba(255, 255, 255, 0.500);
  border-left: 5px dotted rgba(255, 255, 255, 0.500);
}

.positionTitles {
  width: 50%;
}

select {
  width: 80%;
  border-radius: 18px;
  border: none;
}

.link {
  text-decoration: underline;
  color: blue;
}

.filesScroll {
  height: 300px;
  overflow-y: auto;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.600);
  border-radius: 18px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0187E8;
  border-radius: 18px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #037bd1;
}

/* Fin Scrollbar */

.btnDownload {
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 15%;
}

.btnDownload:hover {
  background-color: #63c5fee6;
  box-shadow: 0 0 10px 8px #63c5fee6;
  border-radius: 18px;
}

.imageBtn {
  width: 60%;
}

@media screen and (max-width: 768px) {

  .btnClose {
    margin: 30px 0 0 0;
  }

  .card {
    width: 96%;
    margin: 0 10px;
    font-size: 12px;
  }

  .iptFile {
    width: auto;
  }

  .btnDownload {
    width: 50px;
    padding: 0 0;
  }

  td,
  th {
    font-size: 15px;
  }
}