<div>
  <!-- Titulo -->
  <div class="header">
    <h1 class="title">Gestor de archivos</h1>
  </div>

  <!-- Formulario -->
  <div class="validation">
    <label class="lbl" for="user">Usuario:</label>
    <input class="ipt" type="text" name="" id="user" />
    <label class="lbl" for="password">Contraseña:</label>
    <input class="ipt" type="password" name="" id="password" />
  </div>
  <div class="btnPosition">
    <button type="button" class="btn">Aceptar</button>
  </div>

  <!-- Contenido -->
  <div class="card">
    <ul>
      <li class="list">OlaPrro</li>
      <li class="list">OlaPrro</li>
      <li class="list">OlaPrro</li>
      <li class="list">OlaPrro</li>
    </ul>
  </div>
</div>
